JediWebApplication/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntitiesLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="EDefCaracteristique">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Force" />
      <xs:enumeration value="Defense" />
      <xs:enumeration value="Sante" />
      <xs:enumeration value="Chance" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EDefCaracteristique" nillable="true" type="tns:EDefCaracteristique" />
  <xs:simpleType name="ETypeCaracteristique">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Jedi" />
      <xs:enumeration value="Stade" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ETypeCaracteristique" nillable="true" type="tns:ETypeCaracteristique" />
  <xs:simpleType name="EPhaseTournoi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QuartFinale" />
      <xs:enumeration value="DemiFinale" />
      <xs:enumeration value="Finale" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EPhaseTournoi" nillable="true" type="tns:EPhaseTournoi" />
</xs:schema>