JediWebApplication/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63198/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63198/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63198/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJedis" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStades_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStades" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStades_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStadesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMatchs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchs" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMatchs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTournois_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournois" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTournois_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournoisResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCaracteristiques_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaracteristiques" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCaracteristiques_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaracteristiquesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCaracteristiquesByJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaracteristiquesByJedi" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCaracteristiquesByJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaracteristiquesByJediResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJedi" />
  </wsdl:message>
  <wsdl:message name="IService1_AddJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJediResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJedis" message="tns:IService1_GetJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJedisResponse" message="tns:IService1_GetJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStades">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStades" message="tns:IService1_GetStades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStadesResponse" message="tns:IService1_GetStades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMatchs" message="tns:IService1_GetMatchs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMatchsResponse" message="tns:IService1_GetMatchs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTournois">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTournois" message="tns:IService1_GetTournois_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTournoisResponse" message="tns:IService1_GetTournois_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaracteristiques">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCaracteristiques" message="tns:IService1_GetCaracteristiques_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCaracteristiquesResponse" message="tns:IService1_GetCaracteristiques_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaracteristiquesByJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCaracteristiquesByJedi" message="tns:IService1_GetCaracteristiquesByJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCaracteristiquesByJediResponse" message="tns:IService1_GetCaracteristiquesByJedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddJedi" message="tns:IService1_AddJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddJediResponse" message="tns:IService1_AddJedi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJedis">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStades">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchs">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMatchs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTournois">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTournois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaracteristiques">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCaracteristiques" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaracteristiquesByJedi">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCaracteristiquesByJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJedi">
      <soap:operation soapAction="http://tempuri.org/IService1/AddJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:63198/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>