JediWebApplication/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63198/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediWebService" />
  <xs:import schemaLocation="http://localhost:63198/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" />
  <xs:element name="GetJedis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetJedisResult" nillable="true" type="q1:ArrayOfJediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesByJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesByJediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesByJediResult" nillable="true" type="q2:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSith" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="force" nillable="true" type="q3:CaracteristiqueContract" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="defense" nillable="true" type="q4:CaracteristiqueContract" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="chance" nillable="true" type="q5:CaracteristiqueContract" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="sante" nillable="true" type="q6:CaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSith" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="force" nillable="true" type="q7:CaracteristiqueContract" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="defense" nillable="true" type="q8:CaracteristiqueContract" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="chance" nillable="true" type="q9:CaracteristiqueContract" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="sante" nillable="true" type="q10:CaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetStadesResult" nillable="true" type="q11:ArrayOfStadeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesByStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesByStadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesByStadeResult" nillable="true" type="q12:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nbPlaces" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="planete" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="force" nillable="true" type="q13:CaracteristiqueContract" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="defense" nillable="true" type="q14:CaracteristiqueContract" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="chance" nillable="true" type="q15:CaracteristiqueContract" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="sante" nillable="true" type="q16:CaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStadeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nbPlaces" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="planete" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="force" nillable="true" type="q17:CaracteristiqueContract" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="defense" nillable="true" type="q18:CaracteristiqueContract" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="chance" nillable="true" type="q19:CaracteristiqueContract" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="sante" nillable="true" type="q20:CaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modStadeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delStadeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetMatchsResult" nillable="true" type="q21:ArrayOfMatchContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJediVainqueur" type="xs:int" />
        <xs:element minOccurs="0" name="jedic1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jedic2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stadec" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="idJediVainqueur" type="xs:int" />
        <xs:element minOccurs="0" name="jedic1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jedic2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stadec" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournois">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournoisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetTournoisResult" nillable="true" type="q22:ArrayOfTournoiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTournoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="match1" nillable="true" type="q23:MatchContract" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="match2" nillable="true" type="q24:MatchContract" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="match3" nillable="true" type="q25:MatchContract" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="match4" nillable="true" type="q26:MatchContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTournoiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModTournoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="match1" nillable="true" type="q27:MatchContract" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="match2" nillable="true" type="q28:MatchContract" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="match3" nillable="true" type="q29:MatchContract" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="match4" nillable="true" type="q30:MatchContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModTournoiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delTournoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTournoiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiques">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesResult" nillable="true" type="q31:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesJediForce">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesJediForceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesJediForceResult" nillable="true" type="q32:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesJediDefense">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesJediDefenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesJediDefenseResult" nillable="true" type="q33:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesJediChance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesJediChanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesJediChanceResult" nillable="true" type="q34:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesJediSante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesJediSanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesJediSanteResult" nillable="true" type="q35:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesStadeForce">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesStadeForceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesStadeForceResult" nillable="true" type="q36:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesStadeDefense">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesStadeDefenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesStadeDefenseResult" nillable="true" type="q37:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesStadeChance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesStadeChanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesStadeChanceResult" nillable="true" type="q38:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesStadeSante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesStadeSanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesStadeSanteResult" nillable="true" type="q39:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valeur" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/EntitiesLayer" minOccurs="0" name="definition" type="q40:EDefCaracteristique" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/EntitiesLayer" minOccurs="0" name="type" type="q41:ETypeCaracteristique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCaracResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modCarac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valeur" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/EntitiesLayer" minOccurs="0" name="definition" type="q42:EDefCaracteristique" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/EntitiesLayer" minOccurs="0" name="type" type="q43:ETypeCaracteristique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modCaracResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delCarac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCaracResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>