Test/Service References/ServiceWeb/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63198/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediWebService" />
  <xs:element name="GetJedis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetJedisResult" nillable="true" type="q1:ArrayOfJediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetStadesResult" nillable="true" type="q2:ArrayOfStadeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetMatchsResult" nillable="true" type="q3:ArrayOfMatchContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournois">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournoisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetTournoisResult" nillable="true" type="q4:ArrayOfTournoiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesByJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="j" nillable="true" type="q5:JediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesByJediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="GetCaracteristiquesByJediResult" nillable="true" type="q6:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSith" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="force" nillable="true" type="q7:CaracteristiqueContract" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="defense" nillable="true" type="q8:CaracteristiqueContract" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="chance" nillable="true" type="q9:CaracteristiqueContract" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JediWebService" minOccurs="0" name="sante" nillable="true" type="q10:CaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>